@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
  color: #fff;
}
button{
  cursor: pointer;
  border: 0;
  margin-top: 120px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  outline: none;
  background: hsl(240, 1%, 32%);
}
button:hover{
  opacity: 0.7;
  border: 1px solid #fff;
}

body {
  background-color: rgb(44, 44, 44);
}
.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #333;
}

.header h5 {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.Country__card {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.country__data h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 500px;
}
.country__data h6 {
  margin-bottom: 10px;
  font-weight: 400px;
  opacity: 80%;
}
.Country__img img {
  width: 100%;
  border-radius: 5px;
}

.all__country_wrraper {
  margin-top: 100px;
}
.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__bottom h4 {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
input {
  border: none;
  outline: none;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
  background: rgba(80, 77, 77, 0.575);
  cursor: pointer;
}
::placeholder {
  color: white;
  font-size: 0.8rem;
}
.country__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
select {
  padding: 10px 25px;
  color: #fff;
  background-color: rgba(80, 77, 77, 0.575);
  border: none;
  outline: none;
  border-radius: 5px;
}
select option {
  cursor: pointer;
}

.country__info__wrapper{
  background-color: #333;
  padding: 50px;
  margin-top:50px;
}

.country__info__container{
  display: flex;
  justify-content: center;
}

.country__info-img, .country__info{
  width: 40%;
}
.country__info-img img{
  border-radius: 10px;
}
.country__info h3{
  color: #fff;
  font-size: 2.5rem;
}
.country__info-left{
  padding: 20px;
  width: 75%;
  border-radius: 10px;
  background-color: rgba(80, 80, 80, 0.692);
}
.country__info-left h5{
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
.country__info-left span{
  font-size: .9rem;
  color: rgb(218, 218, 218);
}
h4{
  color: #fff;
}